.item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 100%;
}

.title {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.date {
  color: #8a8e91;
  font-size: 12px;
  font-weight: 400;
}

.income-amount {
  color: #44b257;
}

.expenses-amount {
  color: #ff2f2f;
}

.delete {
  display: block;
  margin-left: 10px;
  font-size: 16px;
  color: #8a8e91;
  cursor: pointer;
}

@media (hover: hover) {
  .delete:hover {
    color: white;
  }
}

@media (hover: none) {
  .delete:active {
    color: white;
  }
}
