.item {
  /* border: 1px red solid; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  /* border: 1px skyblue solid; */
  width: 100%;
}

.title {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.date {
  color: #808080;
  font-size: 12px;
  font-weight: 400;
}

.income-amount {
  color: #42dcab;
  /* border: 1px salmon solid; */
}

.expenses-amount {
  color: #ff672f;
}

.delete {
  display: block;
  margin-left: 10px;
  font-size: 16px;
  color: #808080;
  cursor: pointer;
}

@media (hover: hover) {
  .delete:hover {
    color: white;
  }
}
