.form {
  /* border: 1px red solid; */
  display: flex;
}

.form input {
  display: block;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px white solid;
  outline: none;
  font: inherit;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  margin-right: 10px;
  padding: 4px;
}

.form input::placeholder {
  color: #808080;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type='number'] {
  -moz-appearance: textfield;
}

.form button {
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form button .fas {
  display: block;
}
