.form {
  padding: 0 10px 10px 10px;
  display: flex;
}

.form input {
  display: block;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px white solid;
  outline: none;
  font: inherit;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  margin-right: 10px;
  padding: 4px;
}

.form input::placeholder {
  color: #808080;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type='number'] {
  -moz-appearance: textfield;
}

.form input.error {
  border-bottom: 1px red solid;
  animation: shake 200ms ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(-4%);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(4%);
  }
  60% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(0);
  }
}

.form button {
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form button .fas {
  display: block;
}
