.dashboard {
  height: 0;
  flex-grow: 1;
  display: flex;
}

.board {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.45);
  width: 100%;
  height: 100%;
  flex-grow: 1;
  margin: 0 7px;
  padding: 10px;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
}

.title {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-size: 16px;
  font-weight: 400;
  width: 120px;
  padding: 10px 20px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
}
