.footer {
  /* background-color: rgba(0, 0, 0, 0.45); */
  text-align: center;
  padding: 18px;
  font-weight: 300;
}

.footer a {
  text-decoration: none;
  color: #449cff;
}

@media (hover: hover) {
  .footer a:hover {
    text-decoration: underline 1px #449cff solid;
  }
}

@media (hover: none) {
  .footer a:active {
    text-decoration: underline 1px #449cff solid;
  }
}
