.add {
  border: none;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 36px;
  height: auto;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (hover: hover) {
  .add {
    transition: filter 140ms ease-in;
  }

  .add:hover {
    filter: brightness(75%);
  }
}

@media (hover: none) {
  .add:active {
    filter: brightness(75%);
  }
}
