* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.svg);
  background-color: #2d3138;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
